<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}打卡{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                优雅生活{% if user.is_authenticated %}({{ user.username }}){% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">首页</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">所有人</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            {% if user.is_authenticated %}
                                退出登录
                            {% else %}
                                未登录
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% endblock %}
