

<!-- templates/home.html-->
{% extends '../base.html' %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}打卡{% endblock %}

{% block content %}
<div class="container">
    <!-- Content here -->
    <div class="row">
        <p class="text-center fs-3">所有人的目标</p>
    </div>
    <div class="row">
        <div class="col">
            谁
        </div>
        <div class="col">
            目标
        </div>
        <div class="col">
            打卡次数
        </div>
        <div class="col">
            创建时间
        </div>
        <div class="col">
            操作
        </div>
    </div>
    {% for ci in page_setup %}
        <div class="row">
            <div class="row">
                <div class="col">
                    {{ ci.user.last_name }}
                </div>
                <div class="col">
                    {{ ci.name }}
                </div>
                <div class="col">
                    {{ ci.times }}
                </div>
                <div class="col">
                    {{ ci.created_time }}
                </div>
                <div class="col">
                    s
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        {% bootstrap_pagination page_setup url="" size="" %}
    </div>
</div>
{% endblock %}
