

<!-- templates/home.html-->
{% extends '../base.html' %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block title %}打卡{% endblock %}

{% block content %}
<div class="container">
    <!-- Content here -->
    <div class="row">
        <p class="text-center fs-3">首页</p>
    </div>
    <div class="row">
        <form enctype="multipart/form-data" action="{% url 'clockin' %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form clockin_form %}
            {% buttons %}<button type="submit" class="btn btn-primary form-control">Submit</button>{% endbuttons %}
        </form>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            目标
        </div>
        <div class="col">
            图片
        </div>
        <div class="col">
            打卡时间
        </div>
        <div class="col">
            操作
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    {% for ci in page_clockin %}
        <div class="row">
            <div class="col">
                {{ ci.setup.name }}
            </div>
            <div class="col">
                <div></div>
               <a href={{ ci.image_0.url }}><img src="{{ ci.image_0.url }}" class="img-fluid" style="height: 30px"></a>
            </div>
            <div class="col">
                {{ ci.created_time }}
            </div>
            <div class="col">
                <a class="nav-link" href="{% url 'delete_clockin' pk=ci.id %}">删除</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    {% endfor %}
    <div class="row">
        {% bootstrap_pagination page_clockin url="" size="large" %}
    </div>
</div>

{% endblock %}
